.switchButtons {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid var(--gray-light);
  position: relative;
  width: 100%;
}

.featureButton,
.reviewButton {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  padding-bottom: 24px;
}

.activeLine {
  position: absolute;
  bottom: -2px;
  height: 3px;
  background: var(--button);
  transition:
    left 0.3s ease,
    width 0.3s ease;
}

.lowerTab{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
