:root {
  --main: #101828;
  --text: #475467;
  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;
}
:root {
  --font-family: "Inter", sans-serif;
}
* {
  box-sizing: border-box;
  font-family: var(--font-family);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: currentColor;
}
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  border: none;
}
textarea {
  resize: none;
}
button {
  cursor: pointer;
  display: block;
  color: currentColor;
  padding: 0;
  background: none;
}
img,
picture,
svg {
  display: block;
}

/* data picker  */
.react-datepicker {
  border: 1px solid rgb(9, 57, 97) !important;
  border-radius: 5px !important;
  font-family: var(--font-family) !important;
  background-color: white;
}

.react-datepicker__header{
  background-color: white !important;
}

.react-datepicker__day--selected {
  background: var(--text) !important;
  border-radius: 50% !important;
  color: white !important;
}

.react-datepicker__navigation-icon::before {
  border-color: var(--main) !important;
  border-width: 1px 1px 0 0 !important;
}

.react-datepicker__day--keyboard-selected{
background: var(--text) !important;
border-radius: 50% !important;
color: white !important;
}

.react-datepicker__day:hover {
  border-radius: 50% !important;
  background-color: var(--gray-light) !important;
}

.react-datepicker__triangle {
  display: none !important;
}

