:root {
  --main: #101828;
  --text: #475467;
  --white: #fff;
  --inputs: #f7f7f7;
  --badges: #f2f4f7;
  --gray: #6c717b;
  --gray-light: #dadde1;
  --button: #e44848;
  --button-hover: #d84343;
  --rating: #ffc531;
}

:root {
  --font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--font-family);
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
  border: none;
}

textarea {
  resize: none;
}

button {
  cursor: pointer;
  display: block;
  color: currentColor;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}