.homeSection {
  background-image: url(/home-page-picture.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: calc(100vh - 72px);
  display: flex;
}

.homeContainer {
  flex: 1;
  display: flex;
}

.homeContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 67%;
  color: var(--inputs);
  margin-bottom: 16px;
}

.subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--inputs);
  margin-bottom: 40px;
}

.viewNowLink {
  border-radius: 200px;
  padding: 16px 60px;
  background: var(--button);

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--white);
  text-decoration: none;
}
