.infoSection {
  padding-top: 48px;
  padding-bottom: 80px;
}

/* content */
.camperName {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
  margin-bottom: 8px;
}
.camperInfos {
  display: flex;
  gap: 16px;
}

.leftInfoSide {
  display: flex;
  gap: 4px;
}

.rightInfoSide {
  display: flex;
  gap: 4px;
  margin-bottom: 16px;
}

.camperPrice {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
  margin-bottom: 28px;
}

/* gallery */

.gallery {
  display: flex;
  gap: 48px;
  margin-bottom: 28px;
}

.galleryImage {
  width: 292px;
  height: 312px;
  object-fit: cover;
  border-radius: 10px;
}
/* description */
.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text);
  margin-bottom: 60px;
}
